@use './reset.scss';
@use '../components/components.scss';
@use './bootstrap/scss/bootstrap.scss';
body {
    background-color: #f7f9fd;
}
a {
    &:hover {
        color: rgb(248, 76, 76);
        cursor: pointer;
    }
}

.fixed-nav {
    &.transparent-nav {
        .header {
            background: transparent;
            a {
                color: white;
            }
        }
    }
    .header {
        position: fixed;
        width: 100%;
        z-index: 4;
    }
}
